$green = #4FBA69
$greenDark = #14842F
bg()
  background linear-gradient(90deg, $green 0%, #97C93D 100%)
tabs()
  display inline-block
  background #F5F5F5
  border-radius 3px
  margin-bottom 20px
  z-index 2
tab()
  padding 8px 35px
  color #6E7171
  background transparent
  font-size 13px
  border none
  float left
  cursor pointer
  transition all 0.3s ease
  &.active
    border-radius 3px
    background linear-gradient(183.07deg, #97C93D -17.47%, #2FC053 70.05%)
    color white
    box-shadow 0px 1px 2px rgba(78, 78, 78, 0.3)
  &:focus
    outline none
fade()
  -webkit-animation-name fade
  -webkit-animation-duration 0.5s
  animation-name fade
  animation-duration 0.5s
clearfix()
	&:before
	&:after
		content ""
		display table
	&:after
		clear both
	if support-for-ie
		zoom 1
*
  box-sizing border-box
.text-center
  text-align center
img 
  max-width 100%
html,body
  padding 0
  margin 0
  min-height 100%
  font-family 'Encode Sans', sans-serif
body
  display flex
  flex-direction column
  &.fixed
    overflow hidden

.container
  clearfix()
  width 100%
  min-width 320px
  padding 0 16px
  margin 0 auto
  overflow hidden
    
.wraper
  flex-grow 1
  background white url('../img/union.svg') no-repeat left 65%
  background-size auto 630px
header
  bg()
  padding 45px 0 2.3%
  text-align center
  color white
  position relative
  h1
    font-size 24px
    line-height 1.3em
    margin 0
    text-shadow -1px 3px 1px green
    text-transform uppercase
  h2
    font-size 20px
    font-weight 300
    margin 0 0 10px
    text-transform uppercase
  &:after
    content ''
    position absolute
    width calc(100% + 1px)
    height 13%
    left -1px
    bottom 0
    background url('../img/wave.svg') no-repeat center top
    background-size 100% 225%
    z-index 2
  .img
    overflow hidden
    margin -5.5% -15px 0

footer 
  bg()
  color white
  font-size 13px
  line-height 16px
  h2
    font-size 25px
    line-height 31px
    font-weight 600
    margin 0 0 14px
  .footer-wrapper
    padding 20px 0
    background url('../img/footer.svg') no-repeat right top
    background-size auto 90%
  ul
    list-style none
    margin 0
    padding 0
    clearfix()
    li
      display flex
    span 
      white-space nowrap
      min-width 120px
      display flex
      justify-content space-between
      margin-right 5px
      &:after
        content: ':'
.hide
  display none

.item
  fade()
  display none
  &.active
    display block
.data-table
  text-align center
  .tabs
    tabs()
  .tab
    tab()
.top-tabs
    display flex
    list-style none
    align-items center
    justify-content center
    border-bottom 1px solid #E3E3E3
    .tab
      border none
      background none
      border-bottom 3px solid transparent
      padding-bottom 10px
      font-size 15px
      color #14842F
      cursor pointer
      filter grayscale(1)
      font-size 0
      width 90px
      height 62px
      margin 0 16px
      margin-bottom -1px
      position relative
      &.active
        filter none
        border-bottom 3px solid $green
      &:focus
          outline none
    .vina
      background url('../img/vinaphone.png') no-repeat center center
      background-size 100%
      width 115px
      &:after
        content ""
        position absolute
        top 2px
        left -15px
        width 80px
        height 27px
        background url('../img/comingsoon.svg') no-repeat left center
    .mobi
      background url('../img/mobifone.png') no-repeat center 22px
      background-size 100%
#mainTab
  .data-pack
    clearfix()
    padding 30px 0
    display flex
    flex-direction column
    justify-content space-between
    align-items center
    position relative
    .tabs
      tabs()
    .tab
      tab()
    .imgbox
      position relative
      .item
        position absolute
        bottom 16.5%
        left 14%
        color white
        font-size 2.5vw
        b
          font-size 3vw
    .des
      order 2
    .qrcode
      display none
    .guide
      display inline-block
      color #006AFF
      cursor pointer
      text-decoration-line underline
      margin-top 20px
      line-height 20px
    .action
      text-align center
  .mobi-wraper .data-pack
    .imgbox
      .item
        left 55%
        bottom 20%
  .data-tabs
    color #000
    h2
      font-size 20px
      font-weight 400
      line-height 31px
      display flex
      align-items center
      margin 20px 0 12px
      span
        font-size 40px
        font-weight 800
        line-height 75px
        margin-right 9px
        background linear-gradient(90deg, #97C93D 0%, $green 100%)
        -webkit-background-clip text
        -webkit-text-fill-color transparent
    .item
      ul
        padding 0
        margin 0
        li
          list-style none
          font-size 15px
          line-height 19px
          padding-left 18px
          margin-bottom 8px
          background url('../img/tick.svg') no-repeat left 3px
          span 
            color #14842F
            font-weight 600
.dky
  display inline-block
  margin-top 24px
  background linear-gradient(90deg, #A4E038 0%, #4CCF6C 100%)
  box-shadow 0px 5px 20px rgba(207, 207, 207, 0.8)
  border-radius 50px
  color white
  font-size 16px
  line-height 20px
  font-weight 500
  padding 20px 65px
  text-decoration none
  box-shadow 0px 5px 15px #D8D8D8
  &::after
    content ""
    display inline-block
    margin-left 13px
    vertical-align middle
    width 17px
    height 14px
    background url('../img/arrow-white.svg') no-repeat center center

.download
  padding 10px 0
  display flex
  justify-content center
  align-items center
  a
    display block
    width 32%
    max-width 130px
    height 36px
    margin 16px 5px
    font-size 0
    border-radius 36px
    background-color #141515 !important
    &.appstore
      background url('../img/appstore.svg') no-repeat center center
      background-size 110% 100%
    &.ggplay
      background url('../img/googleplay.svg') no-repeat center center
      background-size 110% 100%
    &.coccocpro
      background url('../img/coccocpro.svg') no-repeat center center
      background-size 110% 100%
.overlay
  position fixed
  opacity 0
  top 0
  left 0
  width 100%
  height 100%
  background rgba(0,0,0, .5)
  z-index -99
  align-items center
  justify-content center
  transition opacity .3s ease
  &.active
    display flex
    opacity 1
    z-index 99
.modal
  background white
  font-size 13px
  line-height 16px
  display flex
  position relative
  height 100%
  width 100%
  .modal-wrap
    padding 25px 16px
    overflow auto
    &::-webkit-scrollbar
      width 3px
      border-radius 2px
    &::-webkit-scrollbar-thumb
      background #636363
  .modal-header
    margin 0 -16px
    background linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F1F1F1 100%)
  .logo
    display block
    width 95px
    height 35px
    font-size 0
    margin 0 auto
    background url('../img/logo.svg') no-repeat center center
    background-size 100%
  .btn-close
    font-size 50px
    color #DADADA
    cursor pointer
    position absolute
    right 15px
    top 15px
    transition all 0.3s ease
    &:hover
      color $green 
  h2
    text-align center
    margin 0 0 10px
    font-size 16px
    line-height 20px
  .label
    padding 0 0 0 13px
    border-left 3px solid $greenDark
    margin 10px 0 10px -16px
    font-size 15px
    line-height 1.3em
    text-transform uppercase
    display inline-block
    color $greenDark
  a
    color #006AFF
    text-decoration none
  .btndky
    text-align center
  .dky
    color white
    margin 10px auto 25px
  .note
    color #444545
  h4
    font-size 13px
    margin 0 0 10px
  p
    margin 0 0 10px
  b
    font-weight 600
  ul
    list-style none
    padding 0
    margin 0
    li
      padding-left 15px
      margin-bottom 10px
      &::before
          content "\2022"
          color $green
          font-size 16px
          font-weight bold
          display inline-block 
          width 1em
          margin-left -1em
  table
    th, td
      padding 7px 16px
    

.list-tabs
  .list-content
    font-size 13px
    line-height 16px
  .item-list
    display flex
    flex-direction column
    margin 10px 0
    padding-left 15px
    span
      font-weight 600
      margin-bottom 5px
      &::before
          content "\2022"
          color $green
          font-size 16px
          font-weight bold
          display inline-block 
          width 1em
          margin-left -1em
    b
      color $greenDark
  .qr
    display flex
    span
      width 80px
      margin 5px 13px 0 0
// Accordion
.accordion
  background #F5F5F5
  color black
  overflow hidden
  margin-bottom 10px
  .toggle-content
    max-height 0
    padding 0 12px
    transition all 0.3s ease
    font-size 13px
  h5
    margin 0
    padding 16px 35px 16px 12px
    font-weight normal
    position relative
    cursor pointer
    &:after
      content '\002B'
      position absolute
      top 50%
      right 15px
      margin-top -7px
      font-size 28px
      color #B7B7B7
      float right
  &.active
    .toggle-content
      max-height 500px
      padding 10px 12px
    h5
      color white
      background $green
      &:after
        content "\2212"
        color white

.data-table
  display flex
  justify-content space-between
  flex-direction column
  table
    width 100%
    border-collapse collapse
    border-spacing 0
    empty-cells show
    border none
    margin-bottom 20px
    border-radius 8px
    overflow hidden
    font-size 13px
    line-height 16px
  thead
    border-bottom 2px solid #fff
    background #37924E
  th
    color white
    font-weight 500
    border-right 1px solid rgba(255,255,255, .6)
    text-align center
  tr:first-child
    th
      background $green
      font-weight 600
      text-align center
  tbody
    background #F5F5F5
  td
    border-right 1px solid rgba(255,255,255, .6)
    border-bottom 2px solid #fff
table.graytb
  width 100%
  border-collapse collapse
  border-spacing 0
  empty-cells show
  border none
  margin 16px auto 7px
  border-radius 8px
  overflow hidden
  font-size 12px
  line-height 16px
  th
    background #E3E3E3
    color #141515
    font-weight 600
    border-right 1px solid rgba(255,255,255, .6)
    &.first
        width 45%
      &.last
        width 55%
  b
    font-weight 600
  tbody
    background #F5F5F5
    tr
      td
        text-align left
        border-right 1px solid rgba(255,255,255, .6)
        border-bottom 2px solid #fff

@keyframes fade
  from 
    opacity .4
  to 
    opacity 1

@media screen and (max-width 767px)
  .hide-mobile
    display none !important

@media screen and (min-width 375px)
  header
    h1
      font-size 24px
      width 86%
      margin 0 auto
  #mainTab
    .data-tabs
      h2
        font-size 22px
        span
          font-size 50px
@media screen and (min-width 568px)
  .wraper
    background-position left 70%
@media screen and (min-width 768px)
  header
    &:after
      height 17%
    h1
      font-size 40px
      line-height 50px
      margin 0 auto
      text-shadow -1px 3px 1px green
    h2
      font-size 30px
      font-weight 300
      margin 0
    .img
      margin -5.5% auto 0
      width 80%
  .wraper
    background-size auto 800px
  #mainTab
    .data-tabs
      h2
        span
          font-size 5vw
    .data-pack
      padding 75px 0
      flex-direction row
      align-items flex-start
      .imgbox
        width 57.422%
        .item
          font-size 1.6vw
          b
            font-size 1.8vw
      .tabs
        position absolute
        top 45px
      .des
        order inherit
        overflow hidden
        display inline-block
        width 42%
        padding 0 30px 0 0
      .action
        text-align left
      .qrcode
        display flex
        align-items center
        margin 24px 0 0
        span
          margin-right 16px
    .mobi-wraper .data-pack
      .des
        padding 0 0 0 30px
      .tabs
          left calc(57.422% + 30px)
  .download
    padding 50px 0 65px
    a
      max-width 260px
      min-height 70px
      margin 16px 10px
      background-color transparent !important
  .dky
    display none
  .hide-pc
    display none !important
  .hide-mobile
    display table-cell
    &.table-row
      display table-row
  .top-tabs
    .tab
      width 110px
  .list-tabs
    margin-bottom 25px
    .item
      border-bottom 1px solid #E3E3E3
    .lists
      padding-right 30px
      border-right 1px solid #E3E3E3
    .item-list
      flex-direction row
      padding 0
      span
        white-space nowrap
        min-width 100px
        display flex
        justify-content space-between
        margin 0 5px 0 0
        font-weight normal
        &::before
          content ''
        &:after
          content: ':'
    .qr
      span
        width auto
    .list-content
      display flex
      justify-content space-between
      padding-bottom 15px
  .data-table
    flex-direction row
    table
      width calc(50% - 10px)
      thead
        th
          font-weight 600
        tr:first-child
          th
            font-weight bold
            font-size 14px

  table.graytb
    font-size 13px
    thead
      th
        text-align left
        &.first
          width 30%
        &.last
          width 70%
  .modal
    max-width 800px
    font-size 14px
    line-height 18px
    h2
      font-size 23px
      line-height 29px
      margin-top 10px
    .logo
      width 145px
    table
      th, td
        padding 7px 20px
    
  footer 
    font-size 14px
    line-height 27px
    .footer-wrapper
      padding 44px 0
      background-position right center
      background-size auto
@media screen and (min-width 1024px)
  .container
    width 1024px
    padding 0
  header
    padding-bottom 3.5%
    &:after
      height 120px  
  #mainTab
    .data-pack
      .imgbox
        .item
          font-size 16px
          b
            font-size 22px
    .data-tabs
      h2
        font-size 25px
        span
          font-size 60px

  .slider
    .slide-item
      width 348px
  .overlay .modal
    width 800px
    max-width calc(100% - 32px)
    max-height 95%
    .modal-wrap
      padding 45px
      .modal-header
        margin 0 -45px
    .label
      padding 0 0 0 10px
      border-left 7px solid $green
      margin 10px 0 12px -17px
    .btn-close
      right 20px
      top 20px
@media screen and (min-width 1366px)   
  .wraper
    background-position left 75%