<div class="mobi-wraper">
  <div class="data-pack">
    <div class="tabs">
      <button class="tab vina active" data-actab-group="2" data-actab-id="0">Gói tháng</button>
      <button class="tab mobi" data-actab-group="2" data-actab-id="1">Gói ngày</button>
    </div>
    <div class="imgbox">
      <img src="../img/mobi/mobidata.jpg" alt="mobifone data">
      <div class="item active" data-actab-group="2" data-actab-id="0">Soạn: <b>DK CC80</b> gửi <b>999</b></div>
      <div class="item" data-actab-group="2" data-actab-id="1">Soạn: <b>DK CC5</b> gửi <b>999</b></div>
    </div>
    <div class="des">
      <div class="data-tabs">
        <div class="tab-content">
          <div class="item active" data-actab-group="2" data-actab-id="0">
            <h2><span>8GB</span> Data tốc độ cao</h2>
            <ul>
              <li><span>3GB</span> truy cập internet thông thường. Được sử dụng kèm theo các gói Mobile Internet/Combo khác hoặc M0.
              </li>
              <li><span>+5GB</span> trên trình duyệt Cốc Cốc</li>
              <li>Hết Data tốc độ cao vẫn truy cập internet tốc độ thấp hơn</li>
              <li><span>80.000đ</span>/Tháng</li>
            </ul>
          </div>
          <div class="item" data-actab-group="2" data-actab-id="1">
            <h2><span>700MB</span> Data tốc độ cao</h2>
            <ul>
              <li><span>200MB</span> thông thường</li>
              <li><span>+500MB</span> trên trình duyệt Cốc Cốc</li>
              <li>Hết Data tốc độ cao vẫn truy cập internet tốc độ thấp hơn</li>
              <li><span>5.000đ</span>/Ngày</li>
            </ul>
          </div>
          <div class="action">
            <div class="qrcode">
              <span>Hoặc quét mã</span>
              <img src="../img/qrcode.svg" width="70px" alt="qr code coc coc">
            </div>
            <span class="guide" data-actab-group="3" data-actab-id="0">Thông tin và hướng dẫn sử dụng dịch vụ</span>
            <div class="item active" data-actab-group="2" data-actab-id="0"><a href="sms:[999]&body=[DK CC80]" class="dky">Đăng ký ngay</a></div>
            <div class="item" data-actab-group="2" data-actab-id="1"><a href="sms:[999]&body=[DK CC5]" class="dky">Đăng ký ngay</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>