<div class="vina-wraper">
  <div class="data-pack">
    <div class="tabs">
      <button class="tab vina active" data-actab-group="1" data-actab-id="0">Gói tháng</button>
      <button class="tab mobi" data-actab-group="1" data-actab-id="1">Gói ngày</button>
    </div>
    <div class="des">
      <div class="data-tabs">
        <div class="tab-content">
          <div class="item active" data-actab-group="1" data-actab-id="0">
            <h2><span>8.8GB</span> Data tốc độ cao</h2>
            <ul>
              <li><span>3.8GB</span> thông thường</li>
              <li><span>+5GB</span> trên trình duyệt Cốc Cốc</li>
              <li>Không dùng hết được bảo lưu sang tháng tiếp theo</li>
              <li><span>70.000đ</span>/Tháng</li>
            </ul>
          </div>
          <div class="item" data-actab-group="1" data-actab-id="1">
            <h2><span>500MB</span> Data tốc độ cao</h2>
            <ul>
              <li><span>200MB</span> thông thường</li>
              <li><span>+300MB</span> trên trình duyệt Cốc Cốc</li>
              <li>Không dùng hết được bảo lưu sang tháng tiếp theo</li>
              <li><span>5.000đ</span>/Ngày</li>
            </ul>
          </div>
          <div class="action">
            <div class="qrcode">
              <span>Hoặc quét mã</span>
              <img src="../img/qrcode.svg" width="70px" alt="qr code coc coc">
            </div>
            <span class="guide">Thông tin và hướng dẫn sử dụng dịch vụ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="imgbox">
      <img src="../img/vina/vinadata.jpg" alt="vinaphone data">
      <div class="item active" data-actab-group="1" data-actab-id="0">Soạn: <b>DK CCT</b> gửi <b>5678</b></div>
      <div class="item" data-actab-group="1" data-actab-id="1">Soạn: <b>DK CCN</b> gửi <b>5678</b></div>
    </div>
  </div>
  <div class="other-pack">
    <h3 class="title">Các gói cước khác</h3>
    <div
      class="slider vina-data">
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm1.png" alt="Smart kết nối - SM1">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm2g.png" alt="Smart kết nối - SM2G">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm2s.png" alt="Smart kết nối - SM2S">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm1.png" alt="Smart kết nối - SM1">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm1.png" alt="Smart kết nối - SM1">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide-item">
        <div class="item-wrap">
          <img src="../img/vina/sm1.png" alt="Smart kết nối - SM1">
          <div class="slider-content">
            <h3>Smart kết nối - SM1</h3>
            <div class="info">
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
              <div> <span>6GB</span> Data truy cập mọi nội dung</div>
            </div>
            <div class="detail">
              <span>109.000đ/tháng</span>
              <a href="#">chi tiết</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>