<div class="vina-wraper">
  <div class="data-pack">
    <div class="tabs">
      <button class="tab vina active" data-actab-group="1" data-actab-id="0">Gói tháng</button>
      <button class="tab mobi" data-actab-group="1" data-actab-id="1">Gói ngày</button>
    </div>
    <div class="des">
      <div class="data-tabs">
        <div class="tab-content">
          <div class="item active" data-actab-group="1" data-actab-id="0">
            <h2><span>8.8GB</span> Data 3G/4G tốc độ cao</h2>
            <ul>
              <li><span>3.8GB</span> thông thường</li>
              <li><span>+5GB</span> trên trình duyệt Cốc Cốc</li>
              <li>Hết Data tốc độ cao vẫn truy cập internet tốc độ thấp hơn</li>
              <li><span>70.000đ</span>/Tháng</li>
            </ul>
          </div>
          <div class="item" data-actab-group="1" data-actab-id="1">
            <h2><span>500MB</span> Data 3G/4G tốc độ cao</h2>
            <ul>
              <li><span>200MB</span> thông thường</li>
              <li><span>+300MB</span> trên trình duyệt Cốc Cốc</li>
              <li>Hết Data tốc độ cao vẫn truy cập internet tốc độ thấp hơn</li>
              <li><span>5.000đ</span>/Ngày</li>
            </ul>
          </div>
          <div class="action">
            <div class="qrcode">
              <span>Hoặc quét mã</span>
              <img src="../img/qrcode.svg" width="70px" alt="qr code coc coc">
            </div>
            <span class="guide" data-actab-group="3" data-actab-id="1">Thông tin và hướng dẫn sử dụng dịch vụ</span>
            <div class="item active" data-actab-group="1" data-actab-id="0"><a href="sms:[1234]&body=[DK CCT]" class="dky">Đăng ký ngay</a></div>
            <div class="item" data-actab-group="1" data-actab-id="1"><a href="sms:[1234]&body=[DK CCN]" class="dky">Đăng ký ngay</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="imgbox">
      <img src="../img/vina/vinadata.png" alt="vinaphone data">
      <!-- Gói tháng -->
      <div class="item active" data-actab-group="1" data-actab-id="0"><b>COMING SOON</b></div>
      <!-- Gói Ngày -->
      <div class="item" data-actab-group="1" data-actab-id="1"><b>COMING SOON</b></div>
    </div>
  </div>
</div>